html {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	color: rgb(77, 77, 77);
	font-size: 14px;
	text-align: center;
	box-sizing: border-box;
}

body {
	text-align: left;
	padding: 0;
}

header {
	position: relative;
	background: #005689;
	padding: 10px 20px;
	margin-bottom: 20px;
}

header h1 {
	color: rgb(170, 216, 241);
}

.main-content {
	width: 880px;
	padding: 0 20px;
	margin: 0 auto;
}

.main-content > section {
	width: 600px;
	float: left;
}

.betslip {
	width: 220px;
	min-height: 206px;
	margin-left: 20px;
	float: left;
	background: #efefec;
	border: 1px solid #e6711b;
	padding: 10px;
}

.betslip-heading {
	margin: 0 0 10px 0;
	font-size: 1.5em;
}

.betslip-message {
	margin-top: 0;
}

.betslip-selections {
	margin-bottom: 10px;
}

.betslip-selection {
	
}

.selection-number {
	font-weight: bold;
	padding-right: 5px;
}

.selection-name {
	padding-right: 5px;
}

.selection-price {
	color: #298e02;
	padding-right: 5px;
}

.selection-stake {
	width: 40px;
}

.selection-delete {
	padding-left: 5px;
	color: red;
	cursor: pointer;
}

.selection-potential-win-amount {
	padding-left: 5px;
	font-weight: bold;
}

fieldset { 
	border: 0;
	padding: 0;
	margin: 0;
}

.buttons-cancel {
	background: #858d93;
	border-color: #858d93;
	color: #fff;
}

.buttons-place-bets {
	background: #298e02;
	border-color: #298e02;
	color: #fff;
}

.wallet {
	position: absolute;
	right: 20px;
	top: 20px;
	color: #fff;
}

ul, ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.race-course {
	width: 600px;
	height: 228px;
	background-image: url("../images/race-background.png");
	margin-bottom: 10px;
}

.race-course ul {
  padding: 52px 0 0 5px; 
}

.horse {
  width: 30px;
  height: 28px;
}

.horse img {
  width: 100%;
  height: auto;
}

.start-race {
	display: none;
	background: #298e02;
	border-color: #298e02;
	color: #fff;
}

.display-winner {
	font-weight: bold;
	font-size: 1.5em;
}

.betslip-buttons,
.betslip-message {
	display: none;
}

.race {
	border-top: 1px solid #e6711b;
	border-bottom: 1px solid #e6711b;
	padding-bottom: 10px;
}

.race-heading {
	font-size: 1.5em;
}

.race-runners {
	display: table;
	width: 100%;
}

.race-runners li {
	display: table-row;
	padding: 10px;
}

.race-runners li:nth-child(odd) {
	background: #efefec;
}

.race-runners li * {
	display: table-cell;
	vertical-align: middle;
}

.runner-number {
	padding-left: 10px;
}

.runner-name {
	font-weight: bold;
}

.runner-bet-button {
	width: 60px;
	margin-bottom: 12px;
	background: #e6711b;
	border-color: #e6711b;
	color: #fff;
}

.runner-bet-button.disabled {
	background: #858d93;
	border-color: #858d93;
	cursor: default;
}

.race-runners img {
	width: 32px;
	height: auto;
	margin-top: 8px;
}
.show {
	display: block;
}

